@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@primary-font-family: 'Roboto', sans-serif;
@primary-font-weight-regular: 400;
@primary-font-weight-bold: 700;

@high-emphasis-text-color: fade(#ffffff, 87%);
@medium-emphasis-text-color: fade(#ffffff, 60%);
@disabled-text-color: fade(#ffffff, 38%);

@background-surface: #121212;
@primary-color: #BB86FC;
@secondary-color: #03DAC5;

.main-boundary-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}