@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.main-boundary-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2.5rem;
  color: #BB86FC;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
p {
  font-size: 18px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 2rem;
}
mark {
  font-weight: 700;
  background-color: rgba(187, 134, 252, 0.8);
  padding: 0.2rem;
}
