@import '../../../../static/styles/settings.less';

.link-button {
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: @primary-font-family;
  font-weight: @primary-font-weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @background-surface;
  background-color: @secondary-color;
  transition: background-color 500ms ease;
  padding: 0 20px;

  &:hover {
    background-color: darken(@secondary-color, 10%);
    transition: background-color 500ms ease;
  }

  &:active {
    background-color: darken(@secondary-color, 20%);
    transition: background-color 500ms ease;
  }
}